p {
    text-align: center;
    font-size: 30px;
    background:#cccccc
}
h1{
    background:red;
    text-align: center;
    color:white;
}
body{
    background:#555555;
}
em strong{
    color:red;
}