
body {
    background:#555555;
}

h1 {
    background:red;
    text-align: center;
    color:white;
}

p {
    text-align: center;
    font-size: 30px;
    background:#cccccc;
}
#missao {
    font-size:20px;
}
em strong{
    color:red;
}